<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="../css/seev.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.3.0/knockout-min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script> 
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <% include ../partials/navbar %>
  <% include ../partials/modalWait %>
    <div id="content" class="container">
        <div class="col-xs-12 col-sm-4 col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img src="http://cdn.flaticon.com/png/256/62652.png" class="img-thumbnail">
                    <address>
                        <h3  data-bind="text: preferredname">Adam</h3>
                        33 Little Whiskers Rd<br>
                        Carwoola, NSW 2620<br>
                        <span  data-bind="text: phone" ></span>
                        
                    </address>
                </div>
            </div>    
        </div>
        <div class="col-xs-12 col-sm-8 col-md-7">
            <div class="panel panel-default">
                <div class="panel-body">
                  
                      <div class="panel panel-default">
                        <form id="uploadCVForm" name="formCV" method="post" enctype="multipart/form-data" action="/jobseeker/uploadCV">
                          <input type="file" class="form-control" name="fileCV" id="file">
                          <button id="uploadCV" class="btn btn-default">Submit</button>
                          <button id="clearCV" class="btn btn-default">Clear</button>
                        </form> 
                      </div>   
                     
                        <div id="contactDetailsDisplay" class="panel panel-default editable contactDetails">
                          <a id="editContactDetails" href="#" class="edit editContactDetails">
                            <span class="glyphicon glyphicon-pencil"></span>
                          </a>
                          <h3>Contact details</h3>
                          <h4>Email:</h4>
                          <p><%= profile.email %></p>
                          <p>P: <span  data-bind="text: phone" ></span></p>
                          <p>M: <span  data-bind="text: mobile" ></span></p>
                        </div>
                        <div id="contactDetails" class="editForm panel panel-default contactDetails row">
                           <% include forms/contactdetails %>
                        </div>
                       <div id="refereeDisplay"  class="panel panel-default editable">
                          <a href="#" class="edit">
                            <span class="glyphicon glyphicon-pencil"></span>
                          </a>
                          <h3>Referees</h3>
                          <h4>Name:</h4>
                          <p>Bob the builder</p>
                       </div>
                       <div id="referee" class="editForm panel panel-default referee row">
                           <% include forms/referees %>
                        </div>
                       <div  id="careerDisplay" class="panel panel-default editable">
                          <a href="#" class="edit">
                            <span class="glyphicon glyphicon-pencil"></span>
                          </a>
                          <h3>Career History</h3>
                          <h4>Little nest Barton</h4>
                            <ul>
                                <input placeholder="Enter place of employment here" class="form-control"></input>
                              <li>from<input type="date" class="form-control"></input></li>
                              <li>to<input type="date" class="form-control"></input></li>
                            </ul>
                       </div>
                        <div id="career" class="editForm panel panel-default career row">
                           <% include forms/careers %>
                        </div>
                       <div id="skillDisplay" class="panel panel-default editable">
                          <a href="#" class="edit">
                            <span class="glyphicon glyphicon-pencil"></span>
                          </a>
                          <h3>Skills</h3>
                          <h4>Skills</h4>
                            <ul>
                              <li id="skills"><button class="btn btn-default">Communication</button> </li>
                              <li id="skills"><button class="btn btn-default">Team work</button> </li>
                              <li id="skills"><button class="btn btn-default">Supervision</button> </li>
                              <li id="skills"><button class="btn btn-default">Reliability</button> </li>
                              <li id="skills"><button class="btn btn-default">Programming</button> </li>
                              <li id="skills"><button class="btn btn-default">Diplomatic</button> </li>
                              <li id="skills"><button class="btn btn-default">Communication</button> </li>
                              <li id="skills"><button class="btn btn-default">Communication</button> </li>
                              <li id="skills"><button class="btn btn-default">Communication</button> </li>
                              <li id="skills"><button class="btn btn-default">Communication</button> </li>
                              <li id="skills"><button class="btn btn-default">Communication</button> </li>
                              <li id="skills"><button class="btn btn-default">Communication</button> </li>
                            </ul>
                        </div>
                        <div id="skill" class="editForm panel panel-default skill row">
                           <% include forms/skills %>
                        </div>
                        <div  id="qualificationDisplay" class="panel panel-default editable">
                          <a href="#" class="edit">
                            <span class="glyphicon glyphicon-pencil"></span>
                          </a>
                          <h3>Qualifactions</h3>
                          <h4>Certificates:</h4>
                          <p>Base SAS programming</p>
                        </div>
                        <div id="qualification" class="editForm panel panel-default qualification row">
                           <% include forms/qualifications %>
                        </div>
                       <div class="panel panel-default editable">
                          <a href="#" class="edit">
                            <span class="glyphicon glyphicon-pencil"></span>
                          </a>
                          <h3>Other</h3>
                          <h4>Languages:</h4>
                          <p>English</p>
                          <h4>Citizenship:</h4>
                          <p>Austalian</p>
                          <h4>Drivers license:</h4>
                          <h4>yes</h4>
                          <Form>
                          <h4>Availability:</h4>
                          <input type="date"></input>
                          </form>
                        </div>
            
                </div>
            </div>    
        </div>
    </div>
    <script>
      $(document).ready(function(){

            var profileModel = {
            
                firstname     : ko.observable(),
                familyname    : ko.observable(),
                preferredname : ko.observable(),
                phone         : ko.observable(),
                mobile        : ko.observable(),
                email         : ko.observable(),
    
                addressline1  : ko.observable(),
                addressline2  : ko.observable(),
                state         : ko.observable(),
                postcode      : ko.observable(),
                country       : ko.observable(),

                referees      : ko.observableArray()
                
                
            };   

            ko.applyBindings(profileModel);

            profileModel.firstname        ("<%= profile.firstname %>");
            profileModel.familyname       ("<%= profile.familyname %>");
            profileModel.preferredname    ("<%= profile.preferredname %>");
            profileModel.phone            ("<%= profile.phone %>");
            profileModel.mobile           ("<%= profile.mobile %>");
            profileModel.email            ("<%= profile.email %>");
            
            <% if(profile.address!==undefined){ %>
                profileModel.addressline1 ("<%= profile.address.addressline1 %>");
                profileModel.addressline2 ("<%= profile.address.addressline2 %>");
                profileModel.state        ("<%= profile.address.state %>");
                profileModel.postcode     ("<%= profile.address.postcode %>");
                profileModel.country      ("<%= profile.address.country %>");
            <% } %>
            
      
            
            var uploadControl = $("#file");
            $("#clearCV").on("click", function () {
                uploadControl.replaceWith( uploadControl = uploadControl.clone( true ) );
            });
            
            $('#uploadCV').on('click', function(){
                $('#WaitModal').modal('show'); 
            });

            $('#uploadCVForm').ajaxForm(function() { 
                console.log('success');
                $('#WaitModal').modal('hide'); 
            }); 

           $('.cancel').on('click', function(){
                var id = $(this).parents('.editForm').attr('id');
                $('#' + id).hide();     
                $('#' + id + 'Display').show();         
           });
            
           $('.editable').on('click', function(){
               var id = $(this).attr('id');
               var editId = id.replace("Display","");
                $('#' + id).hide();
                $('#' + editId).show();
           });
        
            $(".save").on('click', function(){
                var id = $(this).parents('.editForm').attr('id');
                
                $("#" + id + "Form").submit(function(e){
                     var id = $(this).attr('id');
                     var formType = id.replace("Form","");
                     
                     $('#WaitModal').modal('show'); 
                     e.preventDefault();
    
                     $.post( "/jobseeker/" + formType, $("#" + id).serialize(), function(data) {
                            $('#'+formType+'Display').show();
                            $('#'+formType).hide();
                            
                     })
                     .always(function() {
                            $('#WaitModal').modal('hide'); 
                     });
                });
            });    
            
      });
    </script>
 

</body>
</html>